@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --light: rgb(238, 242, 246);
  --dark: rgb(30, 35, 37);
  --link-color: rgb(0, 116, 204);
  --scrollbar-color: rgb(137, 137, 137);
  --background-color: linear-gradient(
    to left,
    rgb(53, 44, 224, 0.9),
    rgb(4, 16, 90, 0.9)
  );
  --background-color2: linear-gradient(
    to left,
    rgba(191, 178, 243),
    rgba(150, 202, 247)
  );
  --pastel-blue: rgb(59, 85, 147);
  --pastel-dark: rgb(24, 26, 29);
  --pastel-purple: rgb(111, 97, 192);
  --pastel-gray: rgb(183, 193, 202);
  --color: rgb(36, 29, 173);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(255, 255, 255);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}
