@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --light: rgb(238, 242, 246);
  --light-two: rgb(255, 255, 255);
  --dark: rgb(45, 45, 45);
  --dark-two: rgb(0, 0, 0);
  --link-color: rgb(23, 92, 145);
  --active-link-color: rgba(91, 91, 91, 0.5);
  --active-link-color-two: rgb(190, 44, 146);
  --active-link-color-three: rgba(111, 111, 111, 0.5);
  --scrollbar-color: rgb(137, 137, 137);
  --pastel-blue: #2f579c;
  --nav-bg-color-hover: linear-gradient(
    135.9deg,
    rgba(131, 22, 150, 0.7) 16.4%,
    rgba(106, 27, 186, 0.7) 56.1%
  );
  --nav-bg-color-active: linear-gradient(
    135.9deg,
    rgba(131, 22, 150, 0.7) 16.4%,
    rgba(106, 27, 186, 0.7) 56.1%
  );
  --button-bg-color: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
  --palette-red: #f44336;
  --palette-green: #66bb6a;
  --test: rgba(111, 111, 111, 0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: gray;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(118, 118, 118);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}
